*{
    margin: 0%;
    padding:0%;
    font-family: sans-serif;
}

html {--res:calc(0.01*10vmin);}

.arrierePlan {
    height: 100vh;
    width:100%;
    background-image: url(/asset/img/fond\ -old-school.jpg);
    background-size: cover;
    position: relative;
}

.navbar {
    width: 88%;
    margin:auto;
    padding:15px 0;
    display:grid;
     grid-template-columns: 25fr 75fr;
    align-items: center;
    justify-content: space-between;
    position: relative;
    letter-spacing: 5px;
}

.logo1 {
    width: calc(120* var(--res));
    cursor: pointer;
    position: relative;
    top:3vh;
    left:0.5vw;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;

}

.navbar ul li a {
    text-decoration: none;
    color:red;
    font-size: calc(16* var(--res));
}

.logotxt {
    font-size: calc(30* var(--res));
    font-weight: bold;
}

.walkman {
    width:calc(700* var(--res));
    height:calc(465* var(--res));
    position:fixed;
    top:43%;
    left:12%;
}

.walkman_corp {
    width: calc(700* var(--res));
    position: absolute;
    z-index: 20;
    bottom: 0%;
}

.walkman_btn {
    width:calc(180* var(--res));
    position:absolute;
    left:63%;
    top:0%;
    z-index: 1;
    cursor: pointer;
}

.walkman_petit_btn {
    position: absolute;
    left:48%;
    cursor: pointer;
    z-index: 1;
}

.walkman_petit_btn2 {
    position: absolute;
    left:38%;
    cursor: pointer;
    z-index: 1;
}

/* .walkman_pad {
    
    width:calc(40* var(--res));
    background-color: aquamarine;
    z-index: 21;
    position: fixed;
    top:calc(750* var(--res));
    left:calc(800* var(--res));
    opacity: 40%;
    cursor: pointer;
}

.walkman_pause {
    width:calc(40* var(--res));
    position: absolute;
    display: none;
}

.walkman_play {
    width:calc(40* var(--res));
    position: absolute;    
} */